@media screen and (max-width:1200px){
    .hamburger,
    .toggle-menu{
    display: block;
}
.menu{
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position:fixed;
    top: 0;
    right: -500px;
    background:white;
    width: 300px;
    height: 100%;
    padding-top:50px;
    border: solid black;
    border-radius: 20px;
   margin-top: 0;
}

.menu li {
    width:100%;
}

.navigation input:checked~ .menu{
    right: 0;
}

}